.content {
  --bs-bg-opacity: 1;
  background-color: darkslategrey;
}

.sidebar-menu {
  max-width: 24%;
}

.sidebar-menu-text {
  --bs-bg-opacity: 1;
  background-color: antiquewhite;
}

.menu-tab {
  clip-path: polygon(0 5%, 70% 5%, 90% 15%, 90% 85%, 70% 95%, 0 95%, 0% 80%, 0% 20%);
}

.tab-a {
  --bs-bg-opacity: 1;
  background-color: cadetblue;
}

.tab-b {
  --bs-bg-opacity: 1;
  background-color: burlywood;
}

.link-icon {
  width: 1.2em;
  height: 1.2em;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
}

.profile-picture {
  clip-path: circle(50% at 50% 50%);
  width: 8em;
  height: 8em;
}

.sidebar-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.sidebar-link {
  color: whitesmoke;
  position: relative;
  left: -3px;
}

.root {
  padding: 3rem;
  margin-left: 270px;
}

.experience-text {
  background-color: #fffbed;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.experience-text p {
  margin: 0px;
  color: black;
}

.experience-h2 {
  color: black;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #ffd249;
}

a:active {
  color: #dfa700;
}

/* modal/popup stuff */
[id^=modal] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

[id^=modal]:target {
  display: block;
}

input[type=checkbox] {
  position: absolute;
  clip: rect(0 0 0 0);
}

.popup {
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.popup-overlay {
  position: fixed;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000b3;
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

.popup-wrapper {
  position: fixed;
  z-index: 9;
  width: 60%;
  max-height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 62px 32px 10px 32px;
  clip-path: polygon(89% 8%, 93% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
  background: antiquewhite;
  align-items: center;
  justify-content: center;
  overflow: auto;
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup-wrapper h2 {
  text-align: center;
}

.popup-close {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 30px;
  color: darkslategrey;
  font-weight: 600;
}

.tagline {
  text-align: center;
  margin-bottom: 0px;
}

/* mobile mode */
@media only screen and (max-width: 767px) {
	.sidebar-menu {
    position: static;
  }

  .sidebar-menu-text {
    width: 30%;
  }

  .root {
    padding: 0.5rem;
    margin-left: 0;
  }

  .sidebar-menu {
    max-width: 100%;
  }

  .popup-wrapper {
    clip-path: polygon(80% 8%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
    width: 90%;
    height: 150vw;
  }
}