.content {
    --bs-bg-opacity: 1;
    /* background-color: whitesmoke; */
    background-color: darkslategrey;
}

.sidebar-menu-text {
    --bs-bg-opacity: 1;
    background-color: antiquewhite;
}

.menu-tab {
    clip-path: polygon(0 5%, 70% 5%, 90% 15%, 90% 85%, 70% 95%, 0 95%, 0% 80%, 0% 20%);
}

.tab-a {
  --bs-bg-opacity: 1;
  background-color: cadetblue;
}

.tab-b {
  --bs-bg-opacity: 1;
  background-color: burlywood;
}

.link-icon {
  width: 1.2em;
  height: 1.2em;
}

.profile-picture {
  clip-path: circle(50% at 50% 50%);
  width: 8em;
  height: 8em;
}

.sidebar-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.sidebar-link {
  color: whitesmoke;
  position: relative;
  left: -2px;
}

.sidebar-link:hover {
  color: #ffd249;
}

.sidebar-link:active {
  color: #dfa700;
}

.root {
  padding: 3rem;
  margin-left: 270px;
}

/* mobile mode */
@media only screen and (max-width: 767px) {
	.sidebar-menu {
    position: static;
  }

  .sidebar-menu-text {
    width: 30%;
  }

  .root {
    padding: 0.5rem;
    margin-left: 0;
  }
}